body {
  background-color: #b7eafb;
  font-family: "Archivo", sans-serif;
}
strong {
  color: #e6af57;
}
footer {
  text-align: center;
  opacity: 0.4;
}
a {
  color: #e6af57;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
.search-input {
  width: 70%;
  padding: 20px;
  background-color: #e0eff4;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  color: #2a5a82;
}

.search-button {
  width: 19%;
  padding: 20px;
  border: none;
  border-radius: 16px;
  background-color: #2a5a82;
  margin-left: 10px;
  font-size: 16px;
  color: #f4f7f8;
  font-family: "Archivo", sans-serif;
}
.search-button:hover {
  opacity: 0.7;
}

.current-temp {
  font-size: 88px;
  margin: 20px 0;
  color: #2a5a82;
  text-align: center;
}
.unit {
  font-size: 30px;
  margin: 0;
  position: fixed;
  top: 340px;
}
.current-location {
  font-size: 30px;
  font-weight: 800;
  color: #2a5a82;
  margin-bottom: 10px;
}

.description,
p {
  font-size: 20px;
  color: #2a5a82;
  font-weight: 300;
  margin: 0 auto;
}
.description {
  margin: 0;
}

.condition {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  color: #2a5a82;
}
.humidity,
.wind {
  border: 2px solid #e6af57;
  border-radius: 10px;

  padding: 10px 30px;
  text-align: center;
  max-width: 50%;
}

.icon {
}

.container {
  display: block;
  margin: 30px auto;
  padding: 30px 40px;
  max-width: 600px;
  background-color: #e6f5fa;
  border: 2px solid #e6af57;
  border-radius: 10px;
}
