.search-input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}
.search-button {
  padding: 10px;
  margin-left: 6px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

body {
  background-image: "images/background.jpg";
  background-size: cover;
  background-position: center;
  font-family: "Roboto ", sans-serif;
}

.container {
  max-width: 600px;
  display: block;
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: blue;
  padding: 30px 30px;
}
