body {
  background-color: #b7eafb;
  font-family: "Archivo", sans-serif;
}
strong {
  color: #e6af57;
}
footer {
  text-align: center;
  color: rgb(42, 90, 130, 0.5);

  border-top: 1px solid #e6af57;
  padding: 30px 0 0 0;
}
a {
  color: #e6af57;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
.search-input {
  width: 70%;
  padding: 20px;
  background-color: #e0eff4;
  border: 1px solid #e6af57;
  border-radius: 16px;
  font-size: 16px;
  color: #2a5a82;
}

.search-button {
  width: 19%;
  padding: 20px;
  border: none;
  border-radius: 16px;
  background-color: #2a5a82;
  margin-left: 10px;
  font-size: 16px;
  color: #f4f7f8;
  font-family: "Archivo", sans-serif;
}
.search-button:hover {
  opacity: 0.7;
}

.unit {
  font-size: 30px;
  margin: 0;
  position: relative;
  top: -35px;
}
.current-location {
  font-size: 30px;
  font-weight: 800;
  color: #2a5a82;
  margin-bottom: 10px;
}
.feels-like {
  font-size: 19px;
  margin-top: 5px;
  color: rgb(42, 90, 130, 0.7);
}

.description,
p {
  font-size: 20px;
  color: #2a5a82;
  font-weight: 300;
  margin: 0 auto;
}
.description {
  margin: 0;
}

.condition {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  color: #2a5a82;
}
.humidity,
.wind {
  border: 2px solid #e6af57;
  border-radius: 10px;

  padding: 10px 30px;
  text-align: center;
  max-width: 50%;
}

.current-temp {
  font-size: 78px;
  margin: 20px 0;
  color: #2a5a82;
  margin-left: -10px;
}
.icon {
  padding: 10px;
}
.icon img {
  width: 180px;
  height: auto;
  margin-top: -35px;
}

.temp-icon {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}
.forecast img {
  width: 70px;
  height: auto;
  display: block;
  margin-left: 10px;
}
.forecast {
  border-top: 1px solid #e6af57;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.temperatures {
  padding-bottom: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: #2a5a82;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #2a5a82;
}
.weather-forecast-icon {
  width: 98px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.container {
  display: block;
  margin: 30px auto;
  padding: 30px 40px;
  max-width: 600px;
  background-color: #e6f5fa;
  border: 2px solid #e6af57;
  border-radius: 10px;
}
